# {{ project_name }}

## Installation

### Requirements

- Python {{ python_version }}+

### Install

#### uv

```bash
uv add
```

#### python

```bash
pip install
```

## Usage

### Requirements

### Code

```python
def main():
    pass

if __name__ == "__main__":
    main()
```